#lineagris_top{
   width: 98%;
   position:absolute;
   left:50;
   background-color: #D8D8D9;
   height: 35px;
   color : #880DFC ;
   
   }
footer{
	width:100%;
	color:white;
	background-color: #D8D8D9;
	font-family: alegreya-light;
}